* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background:linear-gradient(90deg, #eae8e1 0%, #faf8f7 100%);
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}
